html
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(19, 19, 19) 5%, rgb(3, 37, 189));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container
{
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.road
{
    background-image: linear-gradient(to top, rgb(34, 34, 34) 10%, rgb(0, 0, 0) );
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    height: 90vh;
    width: 25vw;
    transform: perspective(1em) rotateX(12deg);
}

.moon
{
    height: 150px;
    width: 150px;
    /* height: 160px;
    width: 160px; */
    border-radius: 50%;
    background-color: azure;
    margin-left: ;
}