html
{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgb(19, 19, 19) 5%, rgb(3, 37, 189));
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.container
{
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

.road
{
    background-image: linear-gradient(to top, rgb(34, 34, 34) 10%, rgb(0, 0, 0) );
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: black; */
    height: 90vh;
    width: 20vw;
    transform: perspective(2em) rotateX(15deg);
    position: absolute;
}

.moon
{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: azure;
    margin-left: 60vw;
}

.moon-spots
{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: rgb(219, 236, 236);
    margin-top: 25%;
    margin-left: 15%;
    box-shadow: 60px -18px 0 10px rgb(219, 236, 236), 50px 55px 0 3px rgb(219, 236, 236);
}
